body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

footer {
  background-color: #11122b;
  color: #cbcbcb;
  font-family: "Ubuntu Condensed", sans-serif;
  height: 25rem;
  width: 100%;
}

.footer-wrapper > .logo img {
  width: 180px;
  height: 100%;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}

.info-wrapper > .time {
  color: rgba(173, 173, 45, 0.658);
}

.navigation-wrapper {
  padding: 1.5rem 0 2.5rem 0;
}

.navigation-wrapper ul {
  width: 20rem;
  display: flex;
  justify-content: space-around;

  list-style: none;
  padding: 0;
}

.navigation-wrapper ul li {
  flex: 0 0 calc(25% - 1rem);
}

.navigation-wrapper ul a {
  text-decoration: none;
  color: #cbcbcb;
  transition: ease 0.5s;
}

.navigation-wrapper ul a:hover {
  color: rgba(173, 173, 45, 0.658);
}

.social-wrapper {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.social-wrapper a i {
  color: #fff;
  font-size: 1.5rem;
}
